<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>个人中心-我的收货地址-乐购</title>
		<link rel="icon" href="/css/img/icon.ico"  />
		<link rel="stylesheet" href="/css/back/user/myAddress.css" type="text/css" />
		<link rel="stylesheet" href="/css/common/bootstrap.min.css">
		<link rel="stylesheet" href="/css/back/user/userCommon.css" type="text/css" />
		<link rel="stylesheet" href="/css/back/user/initShopCart.css" type="text/css" />
		<link rel="stylesheet" href="/css/back/user/table.css" type="text/css" />
		<script type="text/javascript" src="/js/common/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/common/bootstrap.js"></script>
		<script type="text/javascript" src="/js/back/user/myAddress.js"></script>
		<script type="text/javascript" src="/js/back/user/initShopCart.js"></script>
		<script src="https://cdn.bootcss.com/distpicker/2.0.3/distpicker.js"></script>
		<meta name="Keywords" content="乐购全球购" >
		<script type="text/javascript">
			$(function () {

            })
		</script>
	</head>
	<body>
	<input type="hidden" id="basePath" value="">
		<div class="header">
			<div class="header-top">
				<div class="header-nav">
					<div class="header-top-left">
						<a href="javascript:;">手机乐购</a>
					</div>
					<div class="header-top-right">
						<span style="margin-right: 40px">你好，欢迎来到乐购！</span>
						<span th:if="${session.user == null}">
							<a href="/user/login">登录</a>
							<a href="/user/register">免费注册</a>
						</span>
						<span th:if="${session.user !=null}">
							<a href="/user/infoManage" th:text="${session.user.nickName}"></a>
							<a href="/user/logout" class="logout">退出</a>
							<a href="/user/orders/1" target="_blank">我的订单</a>
						</span>
						<a href="#" target="_blank">帮助中心</a>
					</div>
				</div>
			</div>
			<div class="header-middle">
				<div class="header-middle-logo">
					<a href="#">
					<img src="/css/img/logo.png" width="100px" height="100px">
					</a>
				</div>
				<div class="header-middle-ca">
					<a href="/user/cart" target="_blank" class="btn btn-danger btn-shopping-cart"
					><span value="${id}" style="margin-right: 10px" class="glyphicon glyphicon-shopping-cart"></span>购物车</a>
					<!--<div class="p-shop-cart">
						<div class="p-shop-cart-goods">
							<h4 style="margin-left: 20px">我的购物车商品</h4>
							<div class="p-list-goods">

							</div>
							<div class="p-total-price">

							</div>
							<div class="p-go-shopcart">
								<a href="/user/cart" target="_blank">去购物车查看</a>
							</div>
						</div>
					</div>-->
				</div>
				<div class="header-middle-se">
					<input type="text" name="condition" class="search" placeholder="商品/种类" />
					<button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"></span>  搜索</button>
				</div>
				<div class="header-middle-hot">
				<p><a href="">尤妮佳丨</a><a href="">牙胶丨</a><a href="">收纳柜丨</a><a href="">隔尿垫丨</a><a href="">加州宝宝</a></p>
				</div>
			</div>
			<div class="header-foot">
				<div class="header-foot-r" >
					<a target="_blank" href="/index.jsp" class="header-foot-r1">首页</a>
					<a target="_blank" href="/item/search/1?condition=运动" class="header-foot-r1">运动户外</a>
					<a target="_blank" href="/item/search/1?condition=饮料" class="header-foot-r1">饮料冲调</a>
					<a target="_blank" href="/item/search/1?condition=食品" class="header-foot-r1">食品小吃</a>
					<a target="_blank" href="/item/search/1?condition=家电" class="header-foot-r1">家电大全</a>
					<a target="_blank" href="/item/search/1?condition=数码" class="header-foot-r1">数码产品</a>
					<a target="_blank" href="/item/search/1?condition=珠宝" class="header-foot-r1">珠宝首饰</a>
					<a target="_blank" href="/help.jsp" class="header-foot-r1">帮助中心</a>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="ic">
				<div class="c-left">
					<div class="title">
						我的交易
					</div>
					<p><a th:href="@{/user/orders/1}" class="">我的订单</a></p>
					<!--<div class="title">
						我的收藏
					</div>
					<p><a href="/user/myCollecting/1">我收藏的商品</a></p>-->
					
					<div class="title">
						我的账户
					</div>
					<p><a th:href="@{/user/infoManage}" >账户信息</a></p>
					<p><a th:href="@{/user/modifyPass}">修改密码</a></p>
					<p><a th:href="@{/user/security}">安全设置</a></p>
					<p><a th:href="@{/user/myAddress}" class="a-selected">地址管理</a></p>
				</div>

				<div class="c-right">
					<div class="address">
						<div class="address-title">
							<a>地址管理</a>
							<a href="javascript:;" class="newaddress"  data-toggle="modal" data-target="#modal-option-address">新增收货地址</a>
						</div>
						<div class="address-text">
								<!--<div class="text-list" th:if="${addressList.size() gt 0}" th:each="address:${addressList}">
									<div th:class="${address.isDefault == '1' ? 'list-title list-selected' : 'list-title'}" class="list-title">
										<div class="title-l">
											<span>地址：</span>
											<span style="margin-left: 20px"th:text="${address.isDefault == '1' ? '(默认地址)'}">${item.name}<c:if test="${item.defaultAddress==1}">(默认地址)</c:if></span>
										</div>
										<div class="title-r" data-addressId="${item.id}">
											<c:if test="${item.defaultAddress==0}">
												<a href="javascript:;" class="set-default-address">设为默认地址</a>
											</c:if>
											<a href="javascript:;" class="edit-address" data-toggle="modal" data-target="#modal-edit-address">编辑</a>
											<c:if test="${item.defaultAddress==0}">
												<a href="javascript:;" class="delete-address">删除</a>
											</c:if>
										</div>
									</div>
									<div class="list-t">
										<div class="t-left">
											<p>收货人：</p>
											<p>详细地址：</p>
											<p>手机：</p>
										</div>
										<div class="t-right">
											<p>${item.name}</p>
											<p>${item.province.name}${item.city.name}${item.detailedAddress}	</p>
											<p>${item.phone}</p>
										</div>
									</div>
								</div>-->
							<table>
								<colgroup>
									<col style="width:70px;">
									<col>
									<col style="width:200px;">
									<col style="width:100px;">
									<col style="width:140px;">
									<col style="width:110px;">
									<col style="width:90px;">
								</colgroup>
								<tr>
									<th rowspan="1" class="addr-title"><div class="table-cell-wrapper">收货人</div></th>
									<th rowspan="1" class="addr-title"><div class="table-cell-wrapper">所属地区</div></th>
									<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">详细地址</div></th>
									<th  rowspan="1" class="addr-title"><div class="table-cell-wrapper">邮编</div></th>
									<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">电话/手机</div></th>
									<th  rowspan="1" class="addr-title"><div class="table-cell-wrapper">操作</div></th>
									<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">&nbsp;&nbsp;</div></td>
								</tr>
								<tr class="address-hover" th:each="address:${addressList}">
									<td ><div class="table-cell-wrapper" th:text="${address.userName}">test</div></td>
									<td><div class="table-cell-wrapper" th:text="${#strings.concat(address.province, ' ', address.city, ' ', address.area, address.street)}">四川省 成都市 士大夫撒放松放松</div></td>
									<td><div class="table-cell-wrapper" th:text="${address.addressDetail}">chengdu1sdfadfsdfddgfsdgfdsdfffffsdfsdfsdfsdgsgsgdsdg</div></td>
									<td><div class="table-cell-wrapper" th:text="${address.postalCode}">601023</div></td>
									<td><div class="table-cell-wrapper" th:text="${address.telephone}">127837283727</div></td>
									<td>
										<div class="table-cell-wrapper" >
											<div class="t-action" th:attr="data-address=${address.id}">
												<span class="option-hover t-change" data-toggle="modal" data-target="#modal-option-address">修改</span>
												<span class="t-line">|</span>
												<span class="option-hover t-delete">删除</span>
											</div>
										</div>
									</td>
									<td><div class="table-cell-wrapper" th:attr="data-address=${address.id}"><span id="address-btn" class="option-hover t-setDafault" th:text="${address.isDefault =='1' ? '默认地址' : '设为默认'}" th:class="${address.isDefault=='1' ? 'option-hover t-default' : 'option-hover t-setDefault'}">设为默认</span></div></td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	
		
		<div class="footer">
			<div class="footer-service">
				<div class="service">
					<h5 class="service1"></h5>
					<span class="service-t">品类齐全，轻松购物</span>
				</div>
				<div class="service">
					<h5 class="service2"></h5>
					<span class="service-t">多仓直发，急速配送</span>
				</div>
				<div class="service">
					<h5 class="service3"></h5>
					<span class="service-t">正品行货，精致服务</span>
				</div>
				<div class="service">
					<h5 class="service4"></h5>
					<span class="service-t">天天低价，畅选无忧</span>
				</div>
			</div>
			<div class="footer-help">
				<ul class="help">
					<li class="strong">使用帮助</li>
					<li><a href="#" rel="nofollow">新手帮助</a></li>
					<li><a href="#" rel="nofollow">乐豆体系</a></li>
					<li><a href="#" rel="nofollow">正品承诺</a></li>
				</ul>
				<ul class="help">
					<li class="strong">支付方式</li>
					<li><a href="#" rel="nofollow">支付方式</a></li>
					<li><a href="#" rel="nofollow">支付流程</a></li>
					<li><a href="#" rel="nofollow">跨境进口税</a></li>
				</ul>
				<ul class="help">
					<li class="strong">配送方式</li>
					<li><a href="#" rel="nofollow">包邮政策</a></li>
					<li><a href="#" rel="nofollow">发货时间</a></li>
					<li><a href="#" rel="nofollow">配送区域</a></li>
					<li><a href="#" rel="nofollow">送货验收</a></li>
				</ul>
				<ul class="help">
					<li class="strong">售后服务</li>
					<li><a href="#" rel="nofollow">退货政策</a></li>
					<li><a href="#" rel="nofollow">退货流程</a></li>
					<li><a href="#" rel="nofollow">退款方式</a></li>
				</ul>
				<ul class="help">
					<li class="strong">联系方式</li>
					<li><a href="#" rel="nofollow">总裁邮箱：ceo@lego.com</a></li>
					<li><a href="#" rel="nofollow">商务合作：bd@lego.com</a></li>
					<li><a href="#" rel="nofollow">媒体合作：pr@lego.com</a></li>
					<li><a href="#" rel="nofollow">招商中心：zhaoshang@lego.com</a></li>
				</ul>
			</div>
			<div class="footer-link">
				<a href="javascript:;" >关于乐购</a>丨<a href="javascript:;" >加入乐购</a>丨<a href="javascript:;" >商务合作</a>丨
				<a href="javascript:;" >帮助中心</a>丨<a href="javascript:;" >联系我们</a>丨<a href="javascript:;" >友情链接</a>丨
				<a href="javascript:;" >触屏版</a>丨<a href="javascript:;" >媒体报道</a><br/>
				<span class="footer-w">京公网安备：11010502027270 </span>|<span class="footer-w">营业执照：91110105582599307U</span>|
				<span class="footer-w">食品经营许可证：SP1101051410296669 </span>|<span class="footer-w">出版物经营许可证：新出发京零字第朝160088号</span>|
				<span class="footer-w">京ICP证140430号 </span><br />
				<span class="footer-w">京ICP备14006215号</span>|<span class="footer-w">员工舞弊举报：jiancha@lego.com 电话：010-56733666</span><br />
				<span class="footer-w">通过本网站直接或者间接地推销商品或者服务的商业宣传活动均属“广告”</span><br />
				<span class="footer-w">Copyright &copy 2017 北京乐购在线商贸有限公司 Lego.com 保留一切权利</span>
			</div>
		</div>
	<div class="modal fade" id="alertModal">
		<div class="modal-dialog" style="margin-top:350px;width: 400px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div>
				<div class="modal-body" style="text-align: center;font-size: 18px;">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-dismiss" data-dismiss="modal">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!--添加收货地址的弹窗-->
	<div class="modal fade" style="width:auto;" id="modal-option-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 200px; width: 750px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel2">添加收货地址</h4>
					<input type="hidden"  id="type" name="type" value="">
				</div>
				<div class="modal-body">
					<form class="form-group form-inline" method="post" id="form-optionAddress">
						<input type="hidden" name="id" id="addressId" value="">
						<input type="hidden" name="street-option" id="street-option-type" value="">
						<table class="table table-bordered table-responsive">
							<tr id="address-distpicker">
								<td>选择省份以及城市：
									<select class="form-control" name="province" id="province"></select>
									<select class="form-control" name="city" id="city"></select>
									<select class="form-control" name="area" id="area"></select>
									<select data-street="-选择街道-" class="form-control" name="street" id="street" disabled>
									</select>
								</td>
							</tr>
							<tr>
								<td>详细地址：<input type="text" class="form-control" style="width: 60%" id="addressdetail" name="addressDetail"></td>
							</tr>
							<tr>
								<td>邮政编码：<input type="text" class="form-control" id="postalcode" name="postalCode"></td>
							</tr>
							<tr>
								<td>姓名：<input type="text" class="form-control" id="username" name="userName"></td>
							</tr>
							<tr>
								<td>手机号：<input type="text" class="form-control" id="tel" name="telephone"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="btn-optionAddress">添加</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!--修改收货地址的弹窗-->
	<div class="modal fade" id="modal-edit-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 200px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel1">修改收货地址</h4>
				</div>
				<div class="modal-body">
					<form class="form-group form-inline" method="post" id="form-updateAddress">
						<input type="hidden" name="id" id="addressId1" value="">
						<table class="table table-bordered table-responsive">
							<tr data-toggle="distpicker">
								<td>选择省份以及城市：
									<select class="form-control" name="province.id" id="province2" data-province="---- 选择省 ----"></select>&nbsp;&nbsp;
									<select class="form-control" name="city.id" id="city2"></select>
								</td>
							</tr>
							<tr>
								<td>详细地址：<input type="text" class="form-control" id="detailedAddress" style="width: 60%" name="detailedAddress"></td>
							</tr>
							<tr>
								<td>姓名：<input type="text" class="form-control" id="address-name" name="name"></td>
							</tr>
							<tr>
								<td>手机号：<input type="text" class="form-control" id="address-phone" name="phone"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="btn-updateAddress">修改</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

	</body>
</html>
