<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>订单结算页-乐购</title>
		<link rel="icon" href="/css/img/icon.ico"  />
		<link rel="stylesheet" href="/css/back/user/orderConfirmation.css" type="text/css" />
		<link rel="stylesheet" href="/css/common/bootstrap.min.css">
		<link rel="stylesheet" href="/css/back/user/userCommon.css" type="text/css" />
		<link rel="stylesheet" href="/css/back/user/table.css" type="text/css" />
		<script type="text/javascript" src="/js/common/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/common/bootstrap.js"></script>
		<script type="text/javascript" src="/js/back/user/orderConfirmation.js"></script>
		<script type="text/javascript" src="/js/back/user/myAddress.js"></script>
		<script src="https://cdn.bootcss.com/distpicker/2.0.3/distpicker.js"></script>
		<meta name="Keywords" content="乐购全球购" >
	</head>
	<body>
	<input type="hidden" id="basePath" value="${pageContext.request.contextPath}">
		<div class="header">
			<div class="header-top">
				<div class="header-nav">
					<div class="header-top-left">
						<a href="javascript:;">手机乐购</a>
					</div>
					<div class="header-top-right">
						<span style="margin-right: 40px">你好，欢迎来到乐购！</span>
						<span th:if="${session.user == null}">
							<a href="/user/login">登录</a>
							<a href="/user/register">免费注册</a>
						</span>
						<span th:if="${session.user !=null}">
							<a href="/user/infoManage" th:text="${session.user.nickName}"></a>
							<a href="/user/logout" class="logout">退出</a>
							<a href="/user/orders/1" target="_blank">我的订单</a>
						</span>
						<a href="#" target="_blank">帮助中心</a>
					</div>
				</div>
			</div>
			<div class="header-middle">
				<div class="header-middle-logo">
					<a href="/portal/index">
					<img src="/css/img/logo.png" width="120px" height="120px">
					</a>
				</div>
				<div class="header-middle-right">
					<div class="step">
						<div class="current">1.我的购物车</div>
						<div class="current">2.填写核对订单信息</div>
						<div class="current">3.成功提交订单</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="c-title">
				<span>填写并核对订单信息</span>
			</div>
			<div class="c-message">
				<div class="title">
					<a class="bold">收货人信息</a>
					<a href="javascript:;" class="newaddress"  data-toggle="modal" data-target="#modal-option-address">新增收货地址</a>
				</div>
                <!--<div th:if="${!repeated}">-->
				<table>
					<colgroup>
						<col style="width:90px;">
						<col style="width:70px;">
						<col>
						<col style="width:200px;">
						<col style="width:100px;">
						<col style="width:120px;">
						<col style="width:110px;">
						<col style="width:90px;">
					</colgroup>
					<!--<tr>
						<th rowspan="1" class="addr-title"><div class="table-cell-wrapper">收货人</div></th>
						<th rowspan="1" class="addr-title"><div class="table-cell-wrapper">所属地区</div></th>
						<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">详细地址</div></th>
						<th  rowspan="1" class="addr-title"><div class="table-cell-wrapper">邮编</div></th>
						<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">电话/手机</div></th>
						<th  rowspan="1" class="addr-title"><div class="table-cell-wrapper">操作</div></th>
						<th rowspan="1"  class="addr-title"><div class="table-cell-wrapper">&nbsp;&nbsp;</div></td>
					</tr>-->
					<tr class="address-hover" th:each="address:${addressList}">
						<td>
							<div class="radio-container">
								<input type="radio" name="address" id="addr" class="option-radio" th:value="${address.id}" hidden>
								<label for="addr" th:class="|radio-beauty ${address.isDefault=='1' ? 'radio-checked' : ''}|"></label>
								<span th:text="|地址${addressStat.index+1}|">地址一</span>
							</div>
						</td>
						<td ><div class="table-cell-wrapper" th:text="${address.userName}">test</div></td>
						<td><div class="table-cell-wrapper" th:text="${#strings.concat(address.province, ' ', address.city, ' ', address.area, address.street)}">四川省 成都市 士大夫撒放松放松</div></td>
						<td><div class="table-cell-wrapper" th:text="${address.addressDetail}">chengdu1sdfadfsdfddgfsdgfdsdfffffsdfsdfsdfsdgsgsgdsdg</div></td>
						<td><div class="table-cell-wrapper" th:text="${address.postalCode}">601023</div></td>
						<td><div class="table-cell-wrapper" th:text="${address.telephone}">127837283727</div></td>
						<td>
							<div class="table-cell-wrapper" >
								<div class="t-action" th:attr="data-address=${address.id}">
									<span class="option-hover t-change" data-toggle="modal" data-target="#modal-option-address">修改</span>
									<span class="t-line">|</span>
									<span class="option-hover t-delete">删除</span>
								</div>
							</div>
						</td>
						<td><div class="table-cell-wrapper" th:attr="data-address=${address.id}"><span id="address-btn" class="option-hover t-setDafault" th:text="${address.isDefault =='1' ? '默认地址' : '设为默认'}" th:class="${address.isDefault=='1' ? 'option-hover t-default' : 'option-hover t-setDefault'}">设为默认</span></div></td>
					</tr>
				</table>
                <!--</div>-->
				<div class="hr"></div>
				<div class="c-list">
					<div class="list-title">
						<span class="bold">商品清单</span>
					</div>
					<div class="list-text">
						<div class="menu">
							<div id="title1">
								<span>商品</span>
							</div>
							<div id="title2">
								<span>单价</span>
								<span style="margin-left: 145px">数量</span>
								<span style="margin-left: 140px">小计</span>
							</div>
						</div>
						<input type="hidden" id="shopCartId" class="${item.cartId}">
						<div class="list" th:each="item:${cartItems}" >
								<div class="list-goods inline" th:attr="data-commodityId=${item.skuId},data-itemId=${item.cartItemId}" data-commodityNumber="${item.commodityNumber}">
									<div class="goods-img inline">
										<img src="" th:src="@{${item.imageLocation}}" height="80px" width="80px" />
									</div>
									<div class="goods-text inline">
										<a href="#" th:text="${item.description}"></a>
									</div>
									<div class="goods-prop inline" th:with="skuGroupStrs=${item.skuGroupStr.split(',')}">
										<p th:each="skuGroupStr:${skuGroupStrs}" th:text="${skuGroupStr}">规格：默认</p>
									</div>
								</div>
								<div class="list-price inline a-width">
									<span th:text="|¥ ${item.price}|"></span>
								</div>
								<div class="list-quantity inline a-width">
									<span th:text="|X ${item.skuItemCount}|"></span>
								</div>
								<div class="list-sum inline a-width">
									<span th:text="|¥ ${item.totalPrice}|"></span>
								</div>
						</div>
					</div>
				</div>
				<!--<div th:if="${!repeated}">-->
                <div class="c-foot">
					<div class="foot-message">
						<div class="order-info">
							<span><label style="margin-right: 5px" th:text="${totalCount}">${shopCart.totalSize}</label>件商品，应付总额：
								<label th:text="|¥ ${totalPrice}|"></label>
							</span>
						</div>
                        <p th:each="item:${addressList}" >
							<span th:attr="data-addressId=${item.id}" class="f2 address-detail"
                                      th:if="${item.isDefault == '1'}"
                                      th:text="|寄送至：${item.addressDetail}|">寄送至：
							</span>
                            <span class="f2 address-name" th:if="${item.isDefault == '1'}" th:text="|收货人：${item.userName}&nbsp;${item.telephone}|">
							</span>
                        </p>
					</div>
					<div class="foot-submit">
						<input type="text" hidden="true" th:value="${session.token_order}" id="token_order">
						<span id="go-order">提交订单</span>
					</div>
				</div>
                <!--</div>-->
			</div>
		</div>

		<div class="footer">
			<div class="footer-service">
				<div class="service">
					<h5 class="service1"></h5>
					<span class="service-t">品类齐全，轻松购物</span>
				</div>
				<div class="service">
					<h5 class="service2"></h5>
					<span class="service-t">多仓直发，急速配送</span>
				</div>
				<div class="service">
					<h5 class="service3"></h5>
					<span class="service-t">正品行货，精致服务</span>
				</div>
				<div class="service">
					<h5 class="service4"></h5>
					<span class="service-t">天天低价，畅选无忧</span>
				</div>
			</div>
			<div class="footer-help">
				<ul class="help">
					<li class="strong">使用帮助</li>
					<li><a href="#" rel="nofollow">新手帮助</a></li>
					<li><a href="#" rel="nofollow">乐豆体系</a></li>
					<li><a href="#" rel="nofollow">正品承诺</a></li>
				</ul>
				<ul class="help">
					<li class="strong">支付方式</li>
					<li><a href="#" rel="nofollow">支付方式</a></li>
					<li><a href="#" rel="nofollow">支付流程</a></li>
					<li><a href="#" rel="nofollow">跨境进口税</a></li>
				</ul>
				<ul class="help">
					<li class="strong">配送方式</li>
					<li><a href="#" rel="nofollow">包邮政策</a></li>
					<li><a href="#" rel="nofollow">发货时间</a></li>
					<li><a href="#" rel="nofollow">配送区域</a></li>
					<li><a href="#" rel="nofollow">送货验收</a></li>
				</ul>
				<ul class="help">
					<li class="strong">售后服务</li>
					<li><a href="#" rel="nofollow">退货政策</a></li>
					<li><a href="#" rel="nofollow">退货流程</a></li>
					<li><a href="#" rel="nofollow">退款方式</a></li>
				</ul>
				<ul class="help">
					<li class="strong">联系方式</li>
					<li><a href="#" rel="nofollow">总裁邮箱：ceo@lego.com</a></li>
					<li><a href="#" rel="nofollow">商务合作：bd@lego.com</a></li>
					<li><a href="#" rel="nofollow">媒体合作：pr@lego.com</a></li>
					<li><a href="#" rel="nofollow">招商中心：zhaoshang@lego.com</a></li>
				</ul>
			</div>
			<div class="footer-link">
				<a href="javascript:;" >关于乐购</a>丨<a href="javascript:;" >加入乐购</a>丨<a href="javascript:;" >商务合作</a>丨
				<a href="javascript:;" >帮助中心</a>丨<a href="javascript:;" >联系我们</a>丨<a href="javascript:;" >友情链接</a>丨
				<a href="javascript:;" >触屏版</a>丨<a href="javascript:;" >媒体报道</a><br/>
				<span class="footer-w">京公网安备：11010502027270 </span>|<span class="footer-w">营业执照：91110105582599307U</span>|
				<span class="footer-w">食品经营许可证：SP1101051410296669 </span>|<span class="footer-w">出版物经营许可证：新出发京零字第朝160088号</span>|
				<span class="footer-w">京ICP证140430号 </span><br />
				<span class="footer-w">京ICP备14006215号</span>|<span class="footer-w">员工舞弊举报：jiancha@lego.com 电话：010-56733666</span><br />
				<span class="footer-w">通过本网站直接或者间接地推销商品或者服务的商业宣传活动均属“广告”</span><br />
				<span class="footer-w">Copyright &copy 2017 北京乐购在线商贸有限公司 Lego.com 保留一切权利</span>
			</div>
		</div>
	<%--添加收货地址的弹窗--%>
	<div class="modal fade" style="width:auto;" id="modal-option-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 200px; width: 750px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel2">添加收货地址</h4>
					<input type="hidden"  id="type" name="type" value="">
				</div>
				<div class="modal-body">
					<form class="form-group form-inline" method="post" id="form-optionAddress">
						<input type="hidden" name="id" id="addressId" value="">
						<input type="hidden" name="street-option" id="street-option-type" value="">
						<table class="table table-bordered table-responsive">
							<tr id="address-distpicker">
								<td>选择省份以及城市：
									<select class="form-control" name="province" id="province"></select>
									<select class="form-control" name="city" id="city"></select>
									<select class="form-control" name="area" id="area"></select>
									<select data-street="-选择街道-" class="form-control" name="street" id="street" disabled>
									</select>
									<span id="checkSelectMsg" style="display: none"></span>
								</td>
							</tr>
							<tr>
								<td>详细地址：<input type="text" class="form-control" style="width: 60%" id="addressdetail" name="addressDetail"><span id="checkmsg" style="display: none"></span></td>
							</tr>
							<tr>
								<td>邮政编码：<input type="text" class="form-control" id="postalcode" name="postalCode"></td>
							</tr>
							<tr>
								<td>姓名：<input type="text" class="form-control" id="username" name="userName"></td>
							</tr>
							<tr>
								<td>手机号：<input type="text" class="form-control" id="tel" name="telephone"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="btn-optionAddress">添加</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!--修改收货地址的弹窗-->
	<!--<div class="modal fade" id="modal-edit-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 200px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel1">修改收货地址</h4>
				</div>
				<div class="modal-body">
					<form class="form-group form-inline" method="post" id="form-updateAddress">
						<input type="hidden" name="id" id="addressId" value="">
						<table class="table table-bordered table-responsive">
							<tr>
								<td>选择省份以及城市：
									<select class="form-control" name="province.id" id="province2"></select>&nbsp;&nbsp;
									<select class="form-control" name="city.id" id="city2"></select>
								</td>
							</tr>
							<tr>
								<td>详细地址：<input type="text" class="form-control" id="detailedAddress" style="width: 60%" name="detailedAddress"></td>
							</tr>
							<tr>
								<td>姓名：<input type="text" class="form-control" id="address-name" name="name"></td>
							</tr>
							<tr>
								<td>手机号：<input type="text" class="form-control" id="address-phone" name="phone"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="btn-updateAddress">修改</button>
				</div>
			</div>&lt;!&ndash; /.modal-content &ndash;&gt;
		</div>&lt;!&ndash; /.modal &ndash;&gt;
	</div>-->
	</body>
</html>
