<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>个人中心-我的资料-乐购</title>
		<link rel="icon" href="/css/img/icon.ico"  />
		<link rel="stylesheet" href="/css/back/user/modify.css" type="text/css" />
		<link rel="stylesheet" href="/css/common/bootstrap.min.css">
		<link rel="stylesheet" href="/css/common/bootstrap-datepicker3.css">
		<link rel="stylesheet" href="/skins/flat/red.css">
		<link rel="stylesheet" href="/css/back/user/userCommon.css" type="text/css" />
		<link rel="stylesheet" href="/css/back/user/initShopCart.css" type="text/css" />
		<script type="text/javascript" src="/js/common/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/common/bootstrap.js"></script>
		<script type="text/javascript" src="/js/common/icheck.min.js"></script>
		<script src="/js/common/bootstrap-datepicker.js"></script>
		<script src="/js/common/bootstrap-datepicker.zh-CN.js"></script>
	<!--	<script type="text/javascript" src="/js/back/user/modify.js"></script>-->
		<script type="text/javascript" src="/js/back/user/initShopCart.js"></script>
		<meta name="Keywords" content="乐购全球购" >
		<script type="text/javascript">
            $(function () {
                $(".btn-submit").on("click", function () {
                    $.ajax({
                        url: "/user/security/updateEmail",
                        type: "post",
                        data: $("#form-update-user").serialize(),
                        success: function (data) {
                            if (data === 'expire') {
                                alert("身份验证过期");
                                window.location.href = '/user/login';
                            }
                            $(".modal-body").text("请前往邮箱查看以激活账号！");
                            $('#alertModal').modal('show');
                        }
                    })
                })
            });
		</script>
	</head>
	<body>
	<input type="hidden" id="basePath" value="${pageContext.request.contextPath}">
		<div class="header">
			<div class="header-top">
				<div class="header-nav">
					<div class="header-top-left">
						<a href="javascript:;">手机乐购</a>
					</div>
					<div class="header-top-right">
						<span style="margin-right: 40px">你好，欢迎来到乐购！</span>
						<span th:if="${session.user == null}">
							<a th:href="@{/user/login}">登录</a>
							<a th:href="@{/user/register}">免费注册</a>
						</span>
						<span th:if="${session.user !=null}">
							<a href="/user/infoManage" th:text="${session.user.nickName}"></a>
							<a href="/user/logout" class="logout">退出</a>
							<a href="/user/orders1" target="_blank">我的订单</a>
						</span>
						<a href="#" target="_blank">帮助中心</a>
					</div>
				</div>
			</div>
			<div class="header-middle">
				<div class="header-middle-logo">
					<a href="#">
					<img src="/css/img/logo.png" width="100px" height="100px">
					</a>
				</div>
				<div class="header-middle-ca">
					<a href="/user/cart" target="_blank" class="btn btn-danger btn-shopping-cart"
					><span value="${id}" style="margin-right: 10px" class="glyphicon glyphicon-shopping-cart"></span>购物车</a>
					<!--<div class="p-shop-cart">
						<div class="p-shop-cart-goods">
							<h4 style="margin-left: 20px">我的购物车商品</h4>
							<div class="p-list-goods">

							</div>
							<div class="p-total-price">

							</div>
							<div class="p-go-shopcart">
								<a href="${pageContext.request.contextPath}/user/cart" target="_blank">去购物车查看</a>
							</div>
						</div>
					</div>-->
				</div>
				<div class="header-middle-se">
					<input type="text" name="condition" class="search" placeholder="商品/种类" />
					<button class="btn btn-info btn-search"><span class="glyphicon glyphicon-search"></span>  搜索</button>
				</div>
				<div class="header-middle-hot">
				<p><a href="">尤妮佳丨</a><a href="">牙胶丨</a><a href="">收纳柜丨</a><a href="">隔尿垫丨</a><a href="">加州宝宝</a></p>
				</div>
			</div>
			<div class="header-foot">
				<div class="header-foot-r" >
					<a target="_blank" href="${pageContext.request.contextPath}/index.jsp" class="header-foot-r1">首页</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=运动" class="header-foot-r1">运动户外</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=饮料" class="header-foot-r1">饮料冲调</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=食品" class="header-foot-r1">食品小吃</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=家电" class="header-foot-r1">家电大全</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=数码" class="header-foot-r1">数码产品</a>
					<a target="_blank" href="${pageContext.request.contextPath}/item/search/1?condition=珠宝" class="header-foot-r1">珠宝首饰</a>
					<a target="_blank" href="${pageContext.request.contextPath}/help.jsp" class="header-foot-r1">帮助中心</a>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="ic">
				<div class="c-left">
					<div class="title">
						我的交易
					</div>
					<p><a th:href="@{/user/orders/1}" class="">我的订单</a></p>
					<!--<div class="title">
						我的收藏
					</div>
					<p><a href="${pageContext.request.contextPath}/user/myCollecting/1">我收藏的商品</a></p>-->
					
					<div class="title">
						我的账户
					</div>
					<p><a th:href="@{/user/infoManage}" >账户信息</a></p>
					<p><a th:href="@{/user/modifyPass}">修改密码</a></p>
					<p><a th:href="@{/user/security}" class="a-selected">安全设置</a></p>
					<p><a th:href="@{/user/addressManage}">地址管理</a></p>
				</div>

				<!--<div class="c-right">
					<div class="message">
						<div class="message-title">
							<a>账户信息</a>
						</div>
						<div class="message-text">
							<div class="message-left">
								<span class="span-message">账号：</span><br>
								<span class="span-message">真实姓名：</span><br>
								<span class="span-message">手机号：</span><br>
								<span th:if="${user.eMail!=null}" class="span-message">邮箱：</span><br th:if="${user.eMail!=null}">
								<span class="span-message">性别：</span><br>
								<span class="span-message">生日：</span><br>
							</div>
							<div class="message-right">
								<form id="form-update-user">
								<span class="span-message" th:text="${user.nickName}" ></span><br>
								<input type="text" class="form-control" name="realName" maxlength="6" th:value="${user.realName}" /><br>
								<span class="span-message" th:text="${user.telePhone}" ></span><br>
								<span class="span-message" th:if="${user.eMail!=null}" th:text="${user.eMail}">${user.email}</span><br th:if="${user.eMail!=null}">
									男&nbsp;<input type="radio" name="gender" th:checked="${user.gender == '1'}" value="1">
								<span style="margin-left: 20px">女</span>&nbsp;<input type="radio"   name="gender" th:checked="${user.gender == '2'}" value="2"><br>
								<input  name="birthday" th:value="${#dates.format(user.birthday, 'yyyy-MM-dd')}" type="text" class="form-control datepicker"><br>
								</form>
							</div>

							<div class="message-submit">
								<input type="button" class="btn-submit" value="提交">
							</div>
						</div>
					</div>
				</div>-->
				<div class="c-right">
					<div class="message">
						<div class="message-title">
							<a th:text="${userInfo.eMail == null ? '添加邮箱':'修改邮箱'}"></a>
						</div>
						<div class="" message-text>
							<div class="message-left">
								<span class="span-message" th:if="${userInfo.eMail!=null}" th:text="|原邮箱账号:|"></span><br
									th:if="${userInfo.eMail!=null}"/><br/>
								<span class="span-message" th:text="${userInfo.eMail != null ? '新邮箱账号:' : '邮箱账号:'}">邮箱：</span><br/>
							</div>
							<div class="message-right">
								<form id="form-update-user">
									<span class="span-message" th:if="${userInfo.eMail!=null}" th:text="${userInfo.eMail}"></span><br
										th:if="${userInfo.eMail!=null}"><br/>
									<input type="text" class="form-control" name="email" id="email"/><br>
								</form>
							</div>
							<div class="message-submit">
								<input type="button" class="btn-submit" value="提交">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		
		<div class="footer">
			<div class="footer-service">
				<div class="service">
					<h5 class="service1"></h5>
					<span class="service-t">品类齐全，轻松购物</span>
				</div>
				<div class="service">
					<h5 class="service2"></h5>
					<span class="service-t">多仓直发，急速配送</span>
				</div>
				<div class="service">
					<h5 class="service3"></h5>
					<span class="service-t">正品行货，精致服务</span>
				</div>
				<div class="service">
					<h5 class="service4"></h5>
					<span class="service-t">天天低价，畅选无忧</span>
				</div>
			</div>
			<div class="footer-help">
				<ul class="help">
					<li class="strong">使用帮助</li>
					<li><a href="#" rel="nofollow">新手帮助</a></li>
					<li><a href="#" rel="nofollow">乐豆体系</a></li>
					<li><a href="#" rel="nofollow">正品承诺</a></li>
				</ul>
				<ul class="help">
					<li class="strong">支付方式</li>
					<li><a href="#" rel="nofollow">支付方式</a></li>
					<li><a href="#" rel="nofollow">支付流程</a></li>
					<li><a href="#" rel="nofollow">跨境进口税</a></li>
				</ul>
				<ul class="help">
					<li class="strong">配送方式</li>
					<li><a href="#" rel="nofollow">包邮政策</a></li>
					<li><a href="#" rel="nofollow">发货时间</a></li>
					<li><a href="#" rel="nofollow">配送区域</a></li>
					<li><a href="#" rel="nofollow">送货验收</a></li>
				</ul>
				<ul class="help">
					<li class="strong">售后服务</li>
					<li><a href="#" rel="nofollow">退货政策</a></li>
					<li><a href="#" rel="nofollow">退货流程</a></li>
					<li><a href="#" rel="nofollow">退款方式</a></li>
				</ul>
				<ul class="help">
					<li class="strong">联系方式</li>
					<li><a href="#" rel="nofollow">总裁邮箱：ceo@lego.com</a></li>
					<li><a href="#" rel="nofollow">商务合作：bd@lego.com</a></li>
					<li><a href="#" rel="nofollow">媒体合作：pr@lego.com</a></li>
					<li><a href="#" rel="nofollow">招商中心：zhaoshang@lego.com</a></li>
				</ul>
			</div>
			<div class="footer-link">
				<a href="javascript:;" >关于乐购</a>丨<a href="javascript:;" >加入乐购</a>丨<a href="javascript:;" >商务合作</a>丨
				<a href="javascript:;" >帮助中心</a>丨<a href="javascript:;" >联系我们</a>丨<a href="javascript:;" >友情链接</a>丨
				<a href="javascript:;" >触屏版</a>丨<a href="javascript:;" >媒体报道</a><br/>
				<span class="footer-w">京公网安备：11010502027270 </span>|<span class="footer-w">营业执照：91110105582599307U</span>|
				<span class="footer-w">食品经营许可证：SP1101051410296669 </span>|<span class="footer-w">出版物经营许可证：新出发京零字第朝160088号</span>|
				<span class="footer-w">京ICP证140430号 </span><br />
				<span class="footer-w">京ICP备14006215号</span>|<span class="footer-w">员工舞弊举报：jiancha@lego.com 电话：010-56733666</span><br />
				<span class="footer-w">通过本网站直接或者间接地推销商品或者服务的商业宣传活动均属“广告”</span><br />
				<span class="footer-w">Copyright &copy 2017 北京乐购在线商贸有限公司 Lego.com 保留一切权利</span>
			</div>
		</div>
	<div class="modal fade" id="alertModal">
		<div class="modal-dialog" style="margin-top:350px;width: 400px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div>
				<div class="modal-body" style="text-align: center;font-size: 18px;">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-dismiss" data-dismiss="modal">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	</body>
</html>
